@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); 

.about-us {
  height: fit-content;
  background-color: #130022;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-family:  sans-serif; 
}

.header-container {
  display: flex;
  align-items: center;
  gap:0px;
  justify-content: center;
  margin-bottom: 40px; 
}

.rectangles {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

.rectangle {
  width: 15px;
  background-color: #ccc;
  margin-left: -2px;
  box-shadow: 2px 2px 8px rgba(139, 56, 205, 1);
}

.rectangle-1 {
  height: 60px;
}

.rectangle-2 {
  height: 50px;
}

.rectangle-3 {
  height: 40px;
}

h1, h2 {
  margin: 40px; 
  color: #8B38CD;
  font-weight: 700; 
  font-size: 60px;
  font-family: 'Roboto', sans-serif; 
  text-shadow: 0 0 2px #ff00ff; 
}

p {
  max-width: 600px;
  margin-bottom: 40px; 
  font-size: 20px;
}

.reasons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 20px;
}

.reason {
  background-color: rgba(139, 56, 205, 0.1);
  color: #fff;
  font-weight: 400;
  height: 178px;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 992px) {
  h1, h2 {
    font-size: 48px;
  }

  .reason {
    height: 160px;
  }
}

@media (max-width: 768px) {
  h1, h2 {
    font-size: 40px;
  }

  .reason {
    height: 140px;
    font-size: 18px;
  }

  .reasons {
    grid-template-columns: 1fr 1fr; 
  }
}

@media (max-width: 568px) {
  h1, h2 {
    font-size: 32px;
  }

  p {
    font-size: 16px;
  }

  .reason {
    height: 120px;
    font-size: 16px;
  }

  .reasons {
    grid-template-columns: 1fr; 
  }

  .header-container {
    flex-direction: column;
  }

  .rectangles {
    margin-bottom: 10px;
  }

  .rectangle {
    width: 10px;
  }
}
